// estilos para version mobile

.porciones-introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 1.2em;
        margin: 2em;
    }

    p {
        width: 80%;
    }
}


@media (min-width: 1024px) {

    .porciones-introduccion {
        h1 {
            font-size: 1.5em;}
            margin: 2em;
        }

        p {
            width: 900px;
        }
    }
