// estilos version mobile

// estilos del main

.main-tips{
    margin-top: 1em;
    margin-bottom: 2em;
    h1{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        margin-top: 1em;
    }
    p{
        width: 80vw;
        margin: auto;

    }
}

.flecha-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 5em;
    
    }
}

.tips-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    .tip-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        box-shadow: 0px 0px 5px;
        width: 85vw;


        .img-tips{
            width: 50vw;
            margin-top: 2em;
            border: 1px solid rgba(0, 0, 0, 0.126);
            border-radius: 3px;
        }

        .div-p{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            .p-tips{
                font-weight: bold;
                margin-top: 1em;
                width: 80vw;
            }
            .p-tips2{
                font-size: small;
                width: 60vw;
                margin-bottom: 3em;
            }
        }

    }
}

// estilos version tablet


@media (min-width: 768px) {

    .flecha-img{
        img{
            width: 10em;
        }
    }


.tips-content{

    .tip-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2em;
        box-shadow: 0px 0px 5px;
        width: 90vw;


        .img-tips{
            width: 20vw;
            margin-left: 2em;
            margin-top: 0;
        }

        .div-p{

            .p-tips{
                width: 20vw;
            }

            .p-tips2{
                margin-left: 2em;
                padding-right: 1em;

            }
        }

    }
}


}



@media (min-width: 1024px) {

    .main-tips{

        p{
            width: 900px;
    
        }
    }


    .tips-content{

        .tip-card{
            width: 80vw;

            .img-tips{
                width: 15vw;
                margin: 2em 2em;
                
            }
    
            .div-p{
    
                .p-tips2{
                   width: 50vw;
                }
            }
    
        }
    }
    
    
    }